<div class="container-fluid">
    {{#if message}}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {{/if}}
    <form action="/group/department/store" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Phòng ban</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="vd phòng thụ lý" name="name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>