<div class="container-fluid">
    {{#if message}}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {{/if}}
    <form action="/group/department/update/{{id}}" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Phòng ban</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="vd phòng thụ lý"
                name="name" value="{{checkDepartment.name}}">
        </div>
        {{#each user.permission}}
        {{#if (eq this "edit")}}
        <button type="submit" class="btn btn-primary">Submit</button>
        {{/if}}
        {{/each}}

    </form>
</div>