<aside class="main-sidebar sidebar-dark-primary elevation-4">
{{!-- <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div> --}}

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
            <a href="#" class="nav-link active " >
              <i class="nav-icon fas fa-tree"></i>
              <p>
                 Phòng thụ lý
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Danh sách khách hàng </p>
                </a>
              </li>  
              <li class="nav-item">
                <a href="/create-reciving-room" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Thêm khách hàng</p>
                </a>
              </li> 
               <li class="nav-item">
                <a href="/create-reciving-room" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Thêm chương trình</p>
                </a>
              </li> 
               <li class="nav-item">
                <a href="/" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Nhiệm vụ </p>
                </a>
              </li>  
              <li class="nav-item">
                <a href="" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Nhật ký làm việc</p>
                </a>
              </li>     
              <li class="nav-item">
                <a href="" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Thùng rác</p>
                </a>
              </li>      
            </ul>
          </li>     
          <!--contract-->
              <li class="nav-item">
            <a href="#" class="nav-link active " >
              <i class="nav-icon fas fa-tree"></i>
              <p>
                 Contract
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Danh sách hợp đồng</p>
                </a>
              </li>  
              <li class="nav-item">
                <a href="/create-reciving-room" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Thêm hợp đồng</p>
                </a>
              </li>     
              <li class="nav-item">
                <a href="" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Thùng rác</p>
                </a>
              </li>      
            </ul>
          </li>     
          <!--end contract-->
           <!--knowleage base-->
              <li class="nav-item">
            <a href="#" class="nav-link active " >
              <i class="nav-icon fas fa-tree"></i>
              <p>
                 Knowleage base
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Danh sách kiến thức</p>
                </a>
              </li>  
               <li class="nav-item">
                <a href="/" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Thêm kiến thức</p>
                </a>
              </li>  
              <li class="nav-item">
                <a href="/create-reciving-room" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Thêm category</p>
                </a>
              </li>     
              <li class="nav-item">
                <a href="" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Thùng rác</p>
                </a>
              </li>      
            </ul>
          </li>     
          <!--end knowleage base-->
      </ul>
    </nav>    
  </div>  
</aside>
