<div class="container-fluid">
    {{#if message}}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {{/if}}
      {{#each extractedErrors}}
           <h5 style="color:red">{{this.name}}</h5>  
        {{/each}}
    <form action="/qr/store" method="POST">
        <div class="form-group">
            <label for="">Title</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="vd đi canada giá nhiêu ?" name="name">
        </div>
         <div class="form-group">
            <label for="">Title</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="vd đi canada giá nhiêu ?" name="name">
        </div>
         <div class="form-group">
            <label for="">Nội dung câu hỏi</label><br>
            <textarea id="my-expressjs-tinymce-app"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


